@charset "UTF-8";
/* CHRISKINCH.COM LAST FM FEED VIEWER */

#lastfmrecords {
	position:relative;
	font-size:12px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}

/* ALBUMS */
#lastfmrecords ol {
	margin:0;
	padding:0;
}

#lastfmrecords li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}

#lastfmrecords a {
	float:left;
	line-height: 0;
}

#lastfmrecords a:hover {
	text-decoration: none;
}

/* INFO */
#lastfmrecords .info {
	display:block;
	background: rgba(0, 0, 0, 0.5) url("images/lastfm-icon.gif") no-repeat;
	height: 40px;
	width:100%;
	border-bottom: 1px solid #EEE;
	overflow:hidden;
}

#lastfmrecords .info .inner {
	display: block;
	padding:5px 10px 5px 50px;
}

#lastfmrecords label {
	color:#EEE;
	display: inline;
	font-weight: normal;
}

#lastfmrecords .inner span {
	display:block;
	line-height: 1.3em;
}

#lastfmrecords .info .plays {
	position: absolute;
	right: 5px;
	top: 0;
	font-size: 2.4em;
	color: rgba(255, 255, 255, 0.2);
}

#lastfmrecords .info .plays span {
	position:absolute;
	height:0;
	width:0;
	overflow:hidden;
}

#lastfmrecords .album .info {
	position:absolute;
	left:0;
	top:0;
	display:none;
}

/* PLAYING */
#lastfmrecords .playing {
	background: #111;
	height: 40px;
	border-top: 1px solid #EEE;
	clear: both;
	overflow:hidden;
	position:relative;
}

#lastfmrecords .playing .inner {
	display: block;
	padding:5px 10px 5px 10px;
	overflow:hidden;
}

#lastfmrecords .playing .cover {
	position: absolute;
	top: 0;
	width:40px;
	height:40px;
	display:none;
}

/* ROLLOVERS/ANIMATIONS */
#lastfmrecords .album:hover .info {
	display:block;
}

.eq {
	float: left;
	background:#FFF;
	width:40px;
	height:40px;
	position:relative;
}

.eq .graph {
	width:8px;
	height:8px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-4px;
	margin-top:-4px;
}

.eq .bar {
	position:absolute;
	bottom:0;
	background:#333;
	width:25%;
	height:100%;
}

.eq .bar-1 { left:0; }
.eq .bar-2 { left:50%; margin-left:-12.5%; }
.eq .bar-3 { right:0; }

.eq .animated .bar-1 { -webkit-animation: myfirst .2s linear 1s infinite alternate; }
.eq .animated .bar-2 { -webkit-animation: myfirst .2s linear 1.35s infinite alternate; }
.eq .animated .bar-3 { -webkit-animation: myfirst .2s linear 1.2s infinite alternate; }

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {height: 100%;}
20%  {height: 40%;}
50%  {height: 60%;}
100% {height: 12.5%;}
}

#lastfmrecords .playing:hover .cover {
	display:block;
}