ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

.app .cover {
  float:left;
  margin-right: 1em;
}

.app .track {
  border-bottom: 1px solid #fff;
}

.app .track.loading {
  opacity: 0;
}